/*General normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body style 
    - Maximum height for viewport
    - Flex display with column direction
*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
/* Main style:
    - Makes the main take as much space as available
*/
main {
  flex: 1;
}

/*Navbar style*/
header {
  width: 100%;
  padding: 0;
  margin: 0;
}

div.dropdown-menu {
  padding: 0px;
  margin:0px;
  max-width: 300px;
  box-sizing: border-box;
  position: absolute;
}
/*Profile image*/
#prof {
  height: 70px;
  width: auto;
  border-radius: 30%;
  box-shadow: 0 0 5px 0;
  transition: 0.5s;
}

#prof:hover {
  box-shadow: 0 0 10px 0;
  transition: 0.5s;
}


/*Header styles*/
#intro-cont {
  text-align: center;
}


/*Main Styles*/
/*Skills section*/
#skills-cont{
  text-align: center;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#skills-1{
  text-align: center;
}
#skills div{
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/*Projects section in index.html*/

#proj-cont{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.proj-div {
  margin: 10px;
}

.proj-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#cert-cont {
  display: flex;
  justify-content: center;
}

#certificate {
  width:200px;
  height: 130px;
  margin: 0 auto;
}
/*Footer style*/
footer {
    margin: 0 auto;
    padding: 10px;
}

@media screen and (min-width: 700px) {
  #proj-sec-cont{
    display: flex;
  }

  #cert-cont {
    width: 30%;
  }

  #proj-cont{
    width: 70%;
  }
}