/*General normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body style 
    - Maximum height for viewport
    - Flex display with column direction
*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Main style:
    - Makes the main take as much space as available
*/
main {
  flex: 1;
}

/*Navbar style*/

#prof {
  height: 70px;
  width: auto;
  border-radius: 30%;
  box-shadow: 0 0 5px 0;
  transition: 0.5s;
}

#prof:hover {
  box-shadow: 0 0 10px 0;
  transition: 0.5s;
}

/*Footer style*/
footer {
    margin: 0 auto;
    padding: 10px;
}
