/*General normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body style 
    - Maximum height for viewport
    - Flex display with column direction
*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Titillium Web";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jura";
  color: darkgreen;
  font-weight: 800;
}
h1 {
  font-size: 2.2rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: darkgreen;
}
a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: black;
}

/* Main style:
    - Makes the main take as much space as available
*/
main {
  flex: 1;
}

header {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*Navbar style*/

div.dropdown-menu {
  padding: 0px;
  margin: 0px;
  max-width: 300px;
  box-sizing: border-box;
  position: absolute;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  color: darkgreen;
  background-color: rgba(150, 250, 120, 0.15);
}
/*Profile image*/
#prof {
  height: 70px;
  width: auto;
  border-radius: 30%;
  box-shadow: 0 0 5px 0;
  transition: 0.5s;
}

#prof:hover {
  box-shadow: 0 0 10px 0;
  transition: 0.5s;
}

/*Header styles*/
#intro-cont {
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#intro-cont p {
  margin: 2rem 0;
}
#intro-cont a {
  color: darkgreen;
  transition: 0.3s;
  font-weight: bold;
  font-size: 1.2em;
}

#intro-cont a:hover {
  color: darkolivegreen;
  transition: 0.3s;
  text-decoration: underline;
}

/*Main Styles*/
/*Skills section*/
#skills-cont {
  text-align: center;
  margin-top: 20px;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#skills-1 {
  text-align: center;
}
#skills div {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/*Projects section in index.html*/
#proj-sec-cont {
  box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
  padding: 10px 0;
  margin: 10px 0 0 0;
}
#proj-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#proj-cont a {
  color: darkgreen;
  transition: 0.5s;
  padding: 3px;
  border-radius: 10px;
}
#proj-cont a:hover,
#proj-cont a:focus {
  color: black;
  background-color: rgba(150, 250, 120, 0.365);
  transition: 0.3s;
}

.proj-div {
  margin: 10px 10px 50px 10px;
}

.proj-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#cert-cont {
  display: flex;
  justify-content: center;
}

#certificate {
  width: 200px;
  height: 130px;
  margin: 0 auto;
  border: 5px double black;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 darkgreen;
  transition: 0.3s;
}

#certificate:hover,
#certificate:focus {
  box-shadow: 0 5px 10px 4px darkgreen;
  transition: 0.3s;
}
/*-----------------------------------------------------------------------------------*/
/*Main style Projects page*/
#proj-head {
  text-align: center;
  margin-bottom: 20px;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  margin: auto;
}

#projects p {
  text-align: center;
  margin-top: 10px;
  max-width: 200px;
}

#projects button {
  width: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}
.single-proj {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.single-proj img {
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 10px darkgreen;
  margin: 5px;
  border-radius: 3%;
  transition: 0.4s;
  object-fit: cover;
}

.single-proj img:hover {
  box-shadow: 0 8px 12px lightgreen;
  transition: 0.4s;
}
/*----------------------------------------------------------------------------------------*/
/* About me page styles */

#personal-cont {
  text-align: center;
}

#personal-cont p,
#intro-cont p {
  font-size: 1.2rem;
}

/* Slideshow container */

.slideshow-container {
  max-width: 600px;
  height: auto;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  margin-top: 10px;
  max-width: 500px;
  max-height: 500px;
  object-fit:cover;
  display: flex;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  min-height: 500px;
  min-width: 500px;
}
/* Next & previous buttons */
.prev,
.next,
.prev:visited,
.next:visited {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 10px;
  color: greenyellow;
  font-weight: bold;
  font-size: 24px;
  background: rgba(249, 249, 250, 0.977);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  transition: 0.6s ease;
}

/* Position */
.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Hover effects */
.prev:hover,
.next:hover {
  background-color: rgba(9, 244, 32, 0.8);
  color: rgb(28, 4, 244);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgba(9, 244, 32, 0.8);
}

/* Responsive for mobile */
@media only screen and (max-width: 600px) {
  .mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 200px;
    width: 100%;
    
  }

  .mySlides img {
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    min-width: 300px;
    object-fit: cover;
    margin: auto;
    display: flex;
  }

  .prev,
  .next {
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 6px;
    top: 50%;
    transform: translateY(-50%);
  }

  .slideshow-container {
    max-width: 100%;
    margin: auto;
  }
}

/*----------------------------------------------------------------------------------------*/
/*Footer style*/
footer {
  margin: 0;
  padding: 5px;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
}

#cont-list {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 700px) {
  #proj-sec-cont {
    display: flex;
  }

  #cert-cont {
    width: 30%;
  }

  #proj-cont {
    width: 70%;
    font-size: 1.5rem;
  }

  .proj-icon {
    height: 65px;
    width: 65px;
    border-radius: 30%;
  }

  #certificate {
    width: 350px;
    height: auto;
  }
}
